@model IEnumerable<VehicleModelSummary>

<h1>Modeller</h1>

<div class="row">
    <div class="col-12 col-sm-8 col-md-6">
        <div class="text-end mb-2">
            <a asp-controller="VehicleModel" asp-action="Create" class="btn btn-primary btn-sm">Yeni ekle</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Model Adı</th>
                    <th>Markası</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vehicleModel in Model)
                {
                    <tr>
                        <td>@vehicleModel.Id</td>
                        <td>@vehicleModel.Name</td>
                        <td>@vehicleModel.VehicleMakeName</td>
                        <td>
                            @* Aşağıdaki a elementi yazım şekline ASP.NET Core'da "Tag helpers" deniyor *@
                            <a asp-controller="VehicleModel" asp-action="Update" asp-route-id="@vehicleModel.Id">Düzenle</a>

                            @* Aşağıdaki a elementi yazım şekline "HTML helpers" deniyor *@
                            @* @Html.ActionLink("Düzenle", "Update", "VehicleModel", new { id = vehicleModel.Id }) *@

                            @*
                        Yukarıdaki her iki yöntem de en nihayetinde aşağıdaki gibi salt html olarak bir a
                        elementi üretecek
                        *@
                            @* <a href="/VehicleModel/Update/3">Düzenle</a> *@

                            <a asp-controller="VehicleModel" asp-action="Delete" asp-route-id="@vehicleModel.Id">Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>